name: Update Artifacts

on:
  push:
  workflow_dispatch:

jobs:
  update-artifacts:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Setup Maven
        uses: stCarolas/setup-maven@v4
        with:
          maven-version: '3.9.5'

      - name: Build modules
        run: |
          chmod +x scripts/*.sh
          scripts/build-changed-modules.sh "bukkit proxy"

      - name: Upload artifacts
        env:
          API_URL: ${{ secrets.API_URL }}
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          chmod +x scripts/*.sh
          scripts/upload-artifacts.sh "bukkit proxy"

